<%- include("partials/header"); -%>

<%- include("partials/sidebar"); -%>

    <div class="content">
        <div id="cover">
            <img id="myImg" class="myImages" src="images/<%=image%>1.jpg">
            <img id="myImg" class="myImages" src="images/<%=image%>2.jpg">
            <img id="myImg" class="myImages" src="images/<%=image%>3.jpg">
            <img id="myImg" class="myImages" src="images/<%=image%>4.jpg">
        </div>

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- The Close Button -->
            <span class="close">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img01">

            <!-- Modal Caption (Image Text) -->
            <div id="caption"></div>
        </div>

    </div>

    <%- include("partials/footer"); -%>